@use '../modules/reusables' as *



#notfound

    *
        margin-bottom: $medium-padding

    p
        font-size: 2.5rem

    button
        margin-top: 6rem
        width: 100%
        background: $primary-color
        padding: $small-padding