@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

// font
$font-family: 'Inter', sans-serif

// colors
$primary-color:     rgb(205, 0, 85)
$bg-color:          rgb(10, 10, 10)
$bg-light-color:    rgb(30, 30, 30)
$fg-color:          rgb(255, 255, 255)
$fg-dark-color:     rgb(130, 130, 130)

// screen size breakpoints
$mobile-max-width: 500px
$tablet-max-width: 900px


:root 
    font-family: $font-family
    background-color: $bg-color
    color: $fg-color

    @media (max-width: $mobile-max-width)
        font-size: 12px
    @media (min-width: $mobile-max-width)
        font-size: 14px
