@use '../modules/reusables' as *

    
    
#loading
    width: 2.5rem
    padding: .95rem 0rem

    #box
        height: .6rem
        width: 2.5rem
        border-radius: 0.1rem
        background: $primary-color
        animation: .75s ease 2s infinite normal flip

@keyframes flip
    0%
    100%
        transform: rotate3d(1, 0, 0, 180deg)