// variables

// font
$font-family: 'Inter', sans-serif
$small-font-size:  13px
$medium-font-size: 16px
$large-font-size:  20px
$xlarge-font-size: 26px

// colors
$primary-color:    rgb(255, 28, 91)
$bg-color:         rgb(10, 10, 10)
$bg-light-color:   rgb(30, 30, 30)
$fg-color:         rgb(255, 255, 255)
$fg-dark-color:    rgb(200, 200, 200)
$fg-darker-color:    rgb(130, 130, 130)

// screen size breakpoints
$tablet-min-width: 768px
$laptop-min-width: 1140px

// transition durations
$short-duration: 0.2s
$long-duration:  0.8s

// paddings
$xsmall-padding: 0.5rem
$small-padding:  0.75rem
$medium-padding: 1.25rem
$large-padding:  2rem

// Navbar, Footer
$navbar-height: 2rem
$footer-height: 8rem




// @extend

%round-corners
    border-radius: 0.2rem

%lighter-filter
    filter: brightness(150%)

%short-transition
    transition: all $short-duration ease

%long-transition
    transition: all $long-duration ease

%small-text
    font-size: $small-font-size

%medium-text
    font-size: $medium-font-size

%large-text
    font-size: $large-font-size

%xlarge-text
    font-size: $xlarge-font-size



// @mixin

@mixin for-smallest-phone
    @media screen and (max-height: 600px) 
        @content

@mixin for-tablet-up
    @media screen and (min-width: $tablet-min-width) 
        @content

@mixin for-laptop-up
    @media screen and (min-width: $laptop-min-width) 
        @content
