@use '../modules/reusables' as *



#header
    background: $bg-color
    position: sticky
    top: 0
    padding: $xsmall-padding
        
    #header-content
        display: flex
        flex-wrap: wrap
        margin: 0 auto
        height: $header-height
        @include for-laptop-up
            min-width: 55rem
            max-width: 100vh

        #header-logo
            display: flex
            height: $header-height

            > *
                margin: auto 0
                font-family: 'Bebas Neue', serif
                font-size: 1.8rem

            #header-logo__symbol
                @include for-narrowest-phone
                    display: none
                margin-right: $xsmall-padding
                color: $primary-color // TODO remove

    #searchbar
        margin: auto
        margin-right: 0
        @include for-laptop-up
            margin-right: auto
            // margin-right: calc(50vh - ((20rem + 1.25rem + (3 * #{$small-padding})) / 2)) // TODO: remove
        background: $bg-light-color

        input
            width: 20rem
            max-width: calc(100vw - 11rem - 1.25rem - (3 * #{$small-padding}))
            @include for-narrowest-phone
                max-width: calc(100vw - 9rem - 1.25rem - (3 * #{$small-padding}))
