@use '../modules/reusables' as *

    
    
.searchbar
    $searchbar-height: $header-height
    @extend %round-corners
    display: flex

    > *
        height: $searchbar-height
        background: none

    input
        padding-left: $small-padding

    button
        margin: auto 0
        background: 0
        color: $fg-color
        padding: 0 $small-padding
    
        svg
            height: $searchbar-height
            font-size: 1.25rem

#header
    .searchbar
        margin: auto
        margin-right: 0
        @include for-laptop-up
            margin-right: auto
            // margin-right: calc(50vh - ((20rem + 1.25rem + (3 * #{$small-padding})) / 2)) // TODO: remove
        background: $bg-light-color

        input
            width: 20rem
            max-width: calc(100vw - 11rem - 1.25rem - (3 * #{$small-padding}))
            @include for-narrowest-phone
                max-width: calc(100vw - 9rem - 1.25rem - (3 * #{$small-padding}))