@use '../modules/reusables' as *

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')


    
// default styles

body
    min-height: 100vh
    scroll-behavior: smooth
    line-height: 1
    background-color: $bg-color
    color: $fg-color
    font-smooth: auto
    -webkit-font-smoothing: auto
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeSpeed

*
    margin: 0
    padding: 0
    box-sizing: border-box
    border: 0
    outline: 0
    text-decoration: 0
    font-family: $font-family
    font-size: $medium-font-size

h1, h2, h3, h4, h5, h6
    font-weight: normal

h1
    @extend %xlarge-text

h2
    @extend %large-text

h3
    @extend %medium-text

h4, h5, h6
    @extend %small-text

a:link, a:visited
    color: inherit

button
    @extend %round-corners
    background: none
    color: $fg-color

a:hover, a:active, button:hover, button:active
    cursor: pointer

input
    background: $bg-light-color
    color: $fg-color
                
::placeholder
    color: $fg-darker-color
    opacity: 1



// global classes

.panel
    @extend %round-corners
    background: $bg-light-color
    padding: $medium-padding
