@use '../modules/reusables' as *



#navbar
    flex-basis: 100%
    margin-top: $xsmall-padding
    display: flex
    justify-content: center
    @include for-laptop-up
        flex-basis: auto
        margin: auto

    li
        float: left
        list-style-type: none
        @include for-laptop-up
            padding: 0 $large-padding

        p
            padding: 0 6vw
            @include for-tablet-up
                padding: 0 8vw
            @include for-laptop-up
                padding: 0
            line-height: $header-height
            background: $bg-color
