@use '../modules/reusables' as *



#main

    height: calc(100vh - #{$navbar-height} - #{$footer-height})
    padding: 10rem 0
    @media only screen and (max-width: $phone-max-width)
        padding: 3rem 0

    > *
        margin: 3rem auto

    #main-logo // TODO remove
        display: flex
        width: max-content

        > * // TODO: remove
            font-size: 6vh
            font-family: 'Bebas Neue', serif

        #main-logo-symbol // TODO remove
            margin-right: $xsmall-padding
            color: $primary-color

    #main-searchbar
        @extend %round-corners
        $searchbar-height: 4rem
        @media only screen and (max-width: $phone-max-width)
            $searchbar-height: 3rem
        display: flex
        width: max-content
        background: $fg-color
        
        > *
            height: $searchbar-height
            padding: 0 1rem
            @media only screen and (max-width: $phone-max-width)
                padding: .5rem
            background: none
            color: $bg-color

        input
            width: 30rem
            max-width: calc(80vw - 1.5rem - .5rem)
        
        ::placeholder
            color: $bg-light-color

        button
            display: flex
            padding-left: 0
            place-items: center

        