@use '../modules/reusables' as *



#main

    height: calc(100vh - #{$navbar-height} - #{$footer-height})
    padding: 10rem 0

    *
        margin: $large-padding auto

    #main-logo
        display: flex
        width: max-content

        * // TODO: remove
            font-size: 3rem

        #main-logo-symbol
            margin-right: $xsmall-padding
            color: $primary-color // TODO remove