@use '../modules/reusables' as *



#main

    min-height: calc(100vh - #{$navbar-height} - #{$footer-height})
    padding: 0 10vw
    @include for-laptop-up
        padding-top: 10rem

    > *
        margin: 2rem auto
        width: max-content
        @include for-laptop-up
            margin: 3rem auto

    #main-logo // TODO remove
        display: flex

        > * // TODO: remove
            font-size: 6vh
            font-family: 'Bebas Neue', serif

        #main-logo-symbol // TODO remove
            margin-right: $xsmall-padding
            color: $primary-color

    #main-searchbar
        @extend %round-corners
        $searchbar-height: 3rem
        $searchbar-height-desktop: 4rem
        display: flex
        background: $primary-color
        margin-bottom: 4rem
        @include for-laptop-up
            margin-bottom: 8rem
        
        > *
            height: $searchbar-height
            padding: 0 $xsmall-padding
            @include for-laptop-up
                height: $searchbar-height-desktop
                padding: 1rem // TODO: use variable
            background: none
            color: $fg-color

        input
            width: 30rem
            max-width: calc(80vw - 1.5rem - #{$xsmall-padding})
        
        ::placeholder
            color: $fg-dark-color

        button
            display: flex
            padding-left: 0
            place-items: center

    #menu-list
        display: flex
        flex-wrap: wrap
        $gap: 6vw
        column-gap: $gap
        max-width: calc(3 * 4rem + #{2 * $gap})
        @include for-laptop-up
            max-width: 100%
        place-content: center

        .menu-link
            display: flex
            flex-direction: column
            place-items: center
            margin-bottom: $gap
            width: 4rem
            height: 4rem

            svg, g
                width: 2.5rem
                height: 2.5rem
                fill: $fg-color !important

            p
                font-size: $small-font-size

        