@use 'sass:math'
@use '../modules/reusables' as *



.selection
    margin-bottom: $medium-padding

    .tab
        display: flex
        flex-wrap: wrap
        column-gap: 1%

        li
            margin-bottom: 1%
            padding: $small-padding
            text-align: center
            font-size: $small-font-size
            color: $fg-color

            &.selected
                @extend %round-corners

        &.categories
            margin-bottom: $xsmall-padding

            li
                @for $i from 1 through 10
                    &:first-child:nth-last-child(#{$i}), 
                    &:first-child:nth-last-child(#{$i}) ~ li
                        width: math.div(100%, $i) - 1%
                
                &.selected
                    background: $primary-color

        &.subcategories
            li
                min-width: 4rem

                &.selected
                    border: 1px solid $primary-color
                    color: $primary-color