@use 'sass:math'
@use '../modules/reusables' as *



.selection
    margin-bottom: $medium-padding

    .tab
        display: flex
        column-gap: 1%

        li
            margin-bottom: 1%
            padding: $small-padding
            text-align: center
            font-size: $small-font-size
            color: $fg-color

            &.selected
                @extend %round-corners

        &.categories
            flex-wrap: wrap
            margin-bottom: $xsmall-padding

            li
                @for $i from 1 through 10
                    &:first-child:nth-last-child(#{$i}), 
                    &:first-child:nth-last-child(#{$i}) ~ li
                        width: math.div(100%, $i) - 1%
                
                &.selected
                    background: $primary-color

        &.subcategories
            overflow-x: auto
            // TODO: overflow effect
            background: linear-gradient(90deg, rgba(0,0,0,0) 92%, rgba(255,  28,  91,0.3))

            li
                flex-shrink: 0
                min-width: 4rem

                &.selected
                    background: $fg-color
                    color: $bg-color
