@use "sass:math"
@use '../modules/reusables' as *



#charinfo
    #summary
        margin-bottom: $large-padding

        *
            margin-bottom: $xxsmall-padding

        h1
            margin-bottom: $xsmall-padding

    #info

        #tabs
            overflow-y: hidden
            height: 2.5rem
            margin-bottom: $medium-padding

            #categories, #subcategories
                display: flex
                transition: all $short-duration ease

                li
                    border: 1px solid $fg-color
                    border-right: none
                    text-align: center
                    font-size: $small-font-size
                    color: $fg-dark-color

                    @for $i from 1 through 10
                        &:first-child:nth-last-child(#{$i}), 
                        &:first-child:nth-last-child(#{$i}) ~ li
                            width: math.div(100%, $i)

                    &:first-child
                        border-radius: 0.3rem 0 0 0.3rem

                    &:last-child
                        border-radius: 0 0.3rem 0.3rem 0
                        border-right: 1px solid $fg-color

                    &.selected
                        background: $fg-color
                        color: $bg-color
                        font-weight: 600

            #categories
                margin-bottom: 0.5rem

                li
                    padding: $small-padding


            #subcategories
                li
                    padding: $small-padding $small-padding

            .move-up 
                transform: translateY(-120%)

            .reset-position 
                transform: translateY(0)
        
        #details
            @extend %full-width
            background: $bg-light-color
    
