@use "sass:math"
@use '../modules/reusables' as *



#charinfo
    @extend %parallax

    #base
        @extend %parallax__layer
        @extend %parallax__layer--bg

        #summary
            margin-bottom: $large-padding

            *
                margin-bottom: $xxsmall-padding

            h1
                margin-bottom: $xsmall-padding

        #tabs
            overflow-y: hidden
            height: 2.5rem
            margin-bottom: $medium-padding

            #categories, #subcategories
                display: flex
                transition: all $short-duration ease

                li
                    padding: $small-padding
                    text-align: center
                    font-size: $small-font-size
                    color: $fg-color

                    @for $i from 1 through 10
                        &:first-child:nth-last-child(#{$i}), 
                        &:first-child:nth-last-child(#{$i}) ~ li
                            width: math.div(100%, $i)

                    &.selected
                        @extend %round-corners
                        background: $fg-color
                        color: $bg-color

            #categories
                margin-bottom: 0.5rem

            .move-up 
                transform: translateY(-120%)

            .reset-position 
                transform: translateY(0)
        
    #details
        @extend %parallax__layer
        @extend %full-width
        top: 12rem
        height: max-content
        background: $fg-color
        color: $bg-color
    
