@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

// variables

// font
$font-family: 'Inter', sans-serif
$small-font-size:  13px
$medium-font-size: 16px
$large-font-size:  20px
$xlarge-font-size: 26px

// colors
$primary-color:    rgb(205, 0, 85)
$bg-color:         rgb(10, 10, 10)
$bg-light-color:   rgb(30, 30, 30)
$fg-color:         rgb(255, 255, 255)
$fg-dark-color:    rgb(130, 130, 130)

// screen size breakpoints
$mobile-max-width: 500px
$tablet-max-width: 900px

// transition durations
$short-duration: 0.8s
$long-duration:  0.4s



// @extend

%round-corners
    border-radius: 3%

%lighter-filter
    filter: brightness(150%)

%short-transition
    transition: all $short-duration ease

%long-transition
    transition: all $long-duration ease

%small-text
    font-size: $small-font-size

%medium-text
    font-size: $medium-font-size

%large-text
    font-size: $large-font-size

%xlarge-text
    font-size: $xlarge-font-size



// default styles

body
    min-height: 100vh
    scroll-behavior: smooth
    font-family: $font-family
    font-size: $medium-font-size
    line-height: 1
    background-color: $bg-color
    color: $fg-color
    font-smooth: auto
    -webkit-font-smoothing: auto
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeSpeed

*
    margin: 0
    padding: 0
    box-sizing: border-box
    border: 0
    outline: 0
    text-decoration: 0
    font-size: 1rem

h1
    @extend %xlarge-text

h2
    @extend %large-text

h3, h4
    @extend %medium-text

h5, h6
    @extend %small-text

a:link, a:visited
    color: $fg-color

button
    background: $bg-light-color
    color: $fg-dark-color

a:focus, a:hover, a:active, button:focus, button:hover, button:active, .clickable:focus, .clickable:hover, .clickable:active
    @extend %lighter-filter



// global classes

.panel
    @extend %round-corners
    background: $bg-light-color
    padding: 1.25rem
